on:
  pull_request:
    paths-ignore: &ignore-paths
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'phpunit.xml.dist'
      - 'psalm.xml'
  push:
    branches: ['master']
    paths-ignore: *ignore-paths

name: backwards compatibility

permissions:
  contents: read

jobs:
  roave_bc_check:
    uses: yiisoft/actions/.github/workflows/bc.yml@master
    with:
      os: >-
        ['ubuntu-latest']
      php: >-
        ['8.1']
