on:
  pull_request:
    paths-ignore: &ignore-paths
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

  push:
    branches: [ 'master' ]
    paths-ignore: *ignore-paths

name: Run tests

jobs:
  tests:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: make build v=${{ matrix.php }}

      - name: Run tests with phpunit
        run: make test v=${{ matrix.php }}
